services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      - MYSQL_DATABASE=resume-analyzer-database 
      - MYSQL_USER=slickdev0
      - MYSQL_PASSWORD=Damilare121@
      - MYSQL_ROOT_PASSWORD=Damilare121@
    ports:
      - 3306:3306
    expose:
      - '3306'
    volumes:
      - my-db:/var/lib/mysql

volumes:
  my-db: